# App Param

PORT=8080
GIN_MODE=debug_release_test
ALLOWED_ORIGINS=http://localhost:4173,http://localhost:3000,http://localhost:3001,https://admin.pasticceriaginella.com,https://pasticceriaginella.com,https://www.pasticceriaginella.com
ALLOWED_HOSTS=admin.pasticceriaginella.com,api.pasticceriaginella.com,pasticceriaginella.com,www.pasticceriaginella.com,localhost,127.0.0.1

# Postgresql Address

DSN=postgresql://[user]:[password]@[address]:[port]/[db_name]

# Firebase Test UID

UID_TEST_USER=test_uid_here
UID_ADMIN_USER=admin_uid_here

# GOOSE

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgresql://[user]:[password]@[address]:[port]/[db_name]
GOOSE_MIGRATION_DIR=./migrations